/* Dark theme */
body {
    background: #121212;
    color: #fff;
    padding-top: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style for the media articles */
.media {
    margin-bottom: 20px;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.media:hover {
    background-color: #272727;
}

/* Style for article metadata */
.article-metadata {
    margin-bottom: 10px;
}

.article-metadata a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

.article-metadata a:hover {
    color: #2980b9;
}

/* Style for article titles */
.article-title {
    color: #fbfbfb;
    font-size: 2rem;
    margin-bottom: 10px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.article-title:hover {
    color: #e0dad9;
    text-decoration: none;

}

/* Style for article content */
.article-content {
    color: #ccc;
    line-height: 1.8;
}

/* Style for the date posted */
.text-muted {
    color: #999;
}

/* Navbar styling */
.site-header {
    background-color: #343a40;
    padding: 30px 0;
}

.navbar-brand {
    color: #00ffa2 !important;
    font-weight: bold;
    font-size: 2rem;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #a73f28 !important;
}

/* Optional: Add this to remove the link underline */
.navbar-nav .nav-link {
    text-decoration: none !important;
}

/* Optional: Add this to increase the spacing between navbar links */
.navbar-nav {
    margin-left: auto;
}

/* Optional: Add this to center the navbar links vertically */
.navbar-nav {
    align-items: center;
}

/* Optional: Add this to make the navbar sticky */
.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Additional styling for post images */
.post-image-container {
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.post-image:hover {
    transform: scale(1.05);
}

.profile-pic {
    width: 60px;
    /* Set the width as per your design */
    height: 60px;
    /* Set the height as per your design */
}

.profile-logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* Ensures the image covers the entire container */
    border-radius: 150%;
    /* Makes the image round for a profile picture effect */
}